<h2 mat-dialog-title>{{ 'SONGS.DELETE_TITLE' | translate }}</h2>
<mat-dialog-content>
  <p>{{ 'SONGS.DELETE_MESSAGE' | translate }}</p>
  <p>{{ 'SONGS.DELETE_WARNING' | translate }}</p>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">{{ 'COMMON.CANCEL' | translate }}</button>
  <button mat-raised-button color="warn" (click)="onYesClick()">
    <mat-icon>delete</mat-icon>
    <span>{{ 'COMMON.DELETE' | translate }}</span>
  </button>
</mat-dialog-actions>
